<!-- app.component.html -->

<div class="container-fluid back-box">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="text-colo p-1">Online Job Portal</h1>
      <br>
      <div class="container-fluid text-center">

        <p>Welcome to your dream, where opportunities meet talent! Our online job portal is your gateway to a world of
          career possibilities. We understand the unique challenges faced by job seekers in today's dynamic market, and
          we're here to empower you on your professional journey. Explore a diverse range of job listings from top
          companies across industries, each vetted for quality and relevance. Our user-friendly interface ensures a
          seamless experience, allowing you to easily search, filter, and apply to jobs that align with your skills and
          aspirations. Stay ahead in your career with our expert resources, including resume tips, interview guidance, and
          industry insights. Join a community of motivated individuals and take the next step towards your dream career.
          Your future starts here, with our website. Explore, connect, and thrive in your professional
          endeavors!</p>
      </div>

     
    </div>
  </div>
</div>
