<!-- employer-page.component.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Employer Page</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"> -->
  <!-- Include your Angular stylesheets here -->



</head>
<body>

<!-- Include your Angular navbar component here -->

<div class="container-fluid back-box">

  <div class="text-center">
    <h1 class="text-white p-4">Welcome to Employer Page</h1>
  </div>

  <div class="button-container">
    <a  routerLink="/addjob"  class="custom-button"><i class="fa-solid fa-plus-circle"></i>Post Job</a>
    <a routerLink="/jobs" class="custom-button"><i class="fa-solid fa-eye"></i>View Job</a>
  </div>

</div>

</body>
</html>
