/* styles.css (or your component-specific styles file) */

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    background-color: #343a40;
    color: white;
 
  
  }
  
  footer a {
    color: white;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  